body {
 background-color: #f5f5f5;
 color:#999999;
 padding-top:40px;
 padding-bottom:40px;
}

.pagetitle {
 font-size:80px;
 line-height:1;
 text-align:center;
 text-shadow: 3px 5px 2px rgba(0,0,0,.05);
}

.form-title {
 font-size:24px;
 line-height:1;
 margin-bottom:10px;
}

.form-login {
 max-width: 300px;
 padding: 32px 29px 19px;
 margin: 40px auto 20px;
 background-color: #fff;
 border: 1px solid #e5e5e5;
 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
         border-radius: 5px;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
         box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-login .form-login-heading {
 margin-bottom: 10px;
}

.form-login input[type="text"],
.form-login input[type="password"] {
 font-size: 16px;
 height: auto;
 margin-bottom: 15px;
 padding: 7px 9px;
}

.centering {
 margin-left:auto;
 margin-right:auto;
}

.tcentering {
 text-align:center; 
}

.thumbnail {
 margin-bottom:16px;
}

.image-count{
 margin-bottom:16px;
 border-style:%boxstyle;
}

.myhr {
 clear:both;
 height:1px;
 margin-bottom:14px;
 background-color:#dedede;
}

.preview {
 max-width:700px;
 max-height:500px;
 border:solid 1px #666666;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
 box-shadow: 0 1px 2px rgba(0,0,0,.05);
 margin:20px 0px;
}

.preview.delete {
 max-width:600px;
 max-height:400px;
}
